<section class="checkout">
      <div class="cart-title">
        <h2>Animals in Cart</h2>
      </div>
      <div class="items">
        {{#each user.shopping_cart as |animal|}}
        <div class="purchased">
            <img src={{animal.img}} alt="{{animal.name}}" />
            <h6>{{animal.name}}</h6>
            <p>${{animal.price}}</p>
            <p>Quantity: {{animal.cart.quantity}}</p>
        </div>
        {{/each}}
</section>